#content {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Console", sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50pt;
}

h2 {
    text-align: center;
}
